name: Update README.md when new TIL is added.
on:
  push:
    branches: [master]
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: |
          "${GITHUB_WORKSPACE}/update-readme.sh"

          # Push changes
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add README.md
          git add feed.json
          git commit -m "Update TIL listing"
          git push
